.blogs {
    padding: 30px 100px;
    /* padding-top: none; */
  }

.blogs__title {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    border-top: 2px solid black;
    padding-top: 10px;
  }

  .blogs__list{
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .blogs__list-card{
    width: calc(100%/3);
    padding: 0px 30px;
    border-left: 1px solid #BEBEBE;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }


  .blogs__list-card:hover{
    cursor: pointer;
  }

  .blogs__list-card:hover .blogs__list-card-desc h1{
    color: #FA6400;
  }

  .blogs__list-card-img img{
    width: 100%;
    object-fit: cover;
  }
