navbar {
  font-family: var(--avant-garde);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 70px;
  border-bottom: 2px solid #fa6400;
  position: fixed; /* Change from "relative" to "fixed" */
  top: 0; /* Stick to the top of the screen */
  width: 100%; /* Occupy the full width */
  background-color: white; /* Optional: Set the background color */
  z-index: 1000; /* Optional: Adjust the z-index as needed */
}

.nav-links {
  list-style: none;
  font-weight: bold;
  font-size: 1rem;
  letter-spacing: 1px;
  color: black;
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.nav-links li a {
  text-decoration: none;
}

.main-logo img {
  height: 60px;
  object-fit: contain;
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.socials {
  display: flex;
  flex-direction: row;
  gap: 25px;
}

.socials img {
  height: 20px;
  object-fit: contain;
}
