@import url("../styles/navbar.css");
@import url("../styles/landing/hero.css");
@import url("../styles/landing/trending.css");
@import url("../styles/landing/bundle-banner.css");
@import url("../styles/landing/summer-collection.css");
@import url("../styles/landing/blogs.css");
@import url("../styles/landing/newsletter.css");
@import url("./footer.css");
@import url("./loginpage.css");

@font-face {
  font-family: "ITC Avant Garde Gothic Std Lt";
  src: url("../fonts/ITCAvantGardeStd-Bk.otf") format(opentype);
}
@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("../fonts/ITCAvantGardeStd-Bold.otf") format(opentype);
}
@font-face {
  font-family: "ITC Avant Garde Gothic Std";
  src: url("../fonts/ITCAvantGardeStd-Md.otf") format(opentype);
}

:root {
  --avant-garde: "ITC Avant Garde Gothic Std";
}

* {
  font-family: var(--avant-garde);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin-top: 125.6px;
}

.promo-ribbon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb600;
  padding: 15px;
  gap: 10px;
}

.promo-ribbon:hover {
  cursor: pointer;
}

.promo-ribbon:hover a {
  text-decoration: underline;
}

.promo-ribbon a {
  font-size: 20px;
  color: black;
  text-decoration: none;
}

.promo-ribbon img {
  height: 20px;
}
