.trending {
  padding: 30px 100px;
}

.trending__title {
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 2px;
  border-top: 2px solid black;
  padding-top: 10px;
}

.trending__book-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin: 50px 0;
}

.trending__book-list-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.trending__book-list-card:hover{
    cursor:pointer;
  }

.trending__book-list-card:hover .book-name {
  color: #fa6400;
}

.trending__book-list-card img {
  height: 294.112px;
  object-fit: contain;
}

.trending__book-list-card .book-name {
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: bold;
}

.trending__book-list-card .author {
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
}
